# Drizzle
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER="default"
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE="verceldb"


CRON_SECRET=
JWT_SECRET=
APPROVED_EMAILS=
# Optional. Defaults to the first address in APPROVED_EMAILS.
HOUSEHOLD_MANAGER_EMAIL=
